<!DOCTYPE html>
<html>
<head>
  <title>出错了</title>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name=viewport>
  <link rel="icon" type="image/x-icon" href="https://file.calibur.tv/favicon.ico">
  <style>
    body{display:flex;flex-direction:column;justify-content:center;align-items:center;height:100vh;margin:0}
  </style>
</head>
<body>
<img src="https://file.calibur.tv/error.gif" alt="error">
<p>暂时不能访问了，要问为什么，因为站长写了个 bug ┑(￣Д ￣)┍</p>
</body>
</html>
