@import "reboot";
@import "custom";
@import "font";

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

.container {
  margin-right: auto !important;
  margin-left: auto !important;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 980px;
  }

  @media (min-width: 1200px) {
    width: 1160px;
  }
}

.v-switcher-header-item.is-active {
  color: $color-main;
}

.hidden-select {
  &-options {
    display: none;
  }

  &-input {
    .el-input__suffix {
      display: none;
    }

    .el-icon-close {
      color: #fff !important;
    }
  }
}

.fade-link {
  transition: all .2s ease;

  &:hover {
    color: $color-main !important;
    border-color: $color-main !important;
  }
}

[class^="el-icon-"], [class*=" el-icon-"] {
  vertical-align: middle !important;
}

::selection {
  background-color: $color-main;
  color: #fff;
}

mark {
  background-color: $color-main;
  color: $color-main;

  &::selection {
    background-color: transparent;
    color: #fff;
  }
}

.only-h5 {
  @media (min-width: 769px) {
    display: none !important;
  }
}

.only-pc {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.el-drawer__body {
  height: 100%;
  overflow: auto;
  padding: 0 20px 20px;
}
