%clearfix {
  &:before, &:after {
    content: '';
    clear: both;
    display: table;
  }
}

%breakWord {
  word-break: break-word !important;
  word-break: break-all;
}

@mixin multi-line($line-height, $line: 2) {
  line-height: $line-height;
  max-height: $line-height * $line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin half-font($size, $origin: center) {
  display: block;
  font-size: $size * 2;
  line-height: $size * 2;
  transform: scale(0.5);
  transform-origin: left $origin;
}

@mixin night() {
  :global(html.#{reader-night-mode}) & {
    @content;
  }
}

@mixin h5() {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin pc() {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content
  }

  @-webkit-keyframes #{$name} {
    @content
  }

  @-moz-keyframes #{$name} {
    @content
  }
}

@include keyframes(skeleton-loading) {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@include keyframes(skeleton) {
  0% {
    width: 60%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 60%;
  }
}

@mixin input-placeholder($color: #fff) {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $color;
    opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $color;
    opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    $color;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color:    $color;
  }
}

%skeleton-quick {
  animation: skeleton 1s ease-in-out infinite;
}

%skeleton-slowly {
  animation: skeleton 1s ease-in-out -0.5s infinite;
}

%skeleton-block {
  background: linear-gradient(90deg,#f2f2f2 25%,#e6e6e6 37%,#f2f2f2 63%);
  animation: skeleton-loading 1.4s ease infinite;
  background-size: 400% 100%;
}
