body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
  }

  *:focus, *:active {
    outline-width: 0;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

img {
  object-fit: cover;
}

img, span {
  vertical-align: middle;
}

::selection,
::-moz-selection {
  background-color: $color-main;
  color: #fff;
}

@media (max-width: 768px) {
  body {
    padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  button,
  a {
    cursor: default;
  }
}
