$color-main: #ff6881;
$color-main-light: #ff869a;
$color-main-dark: #ea6278;

$color-red: #ff6b6b;
$color-orange: #ff9427;
$color-yellow: #fcc419;
$color-green: #20c997;
$color-blue: #12b7f5;
$color-gray: #adb5bd;
$color-white: #fff;
$color-black: #000;

$color-text-1: #212121;
$color-text-2: #505050;
$color-text-3: #999999;
$color-text-4: #C0C0C0;

$color-gray-1: #DCDFE6;
$color-gray-2: #E4E7ED;
$color-gray-3: #EBEEF5;
$color-gray-4: #F2F6FC;

$color-gray-line: #e7e7e7;
$color-gray-border: #c0c0c0;
$color-gray-bg: #f4f4f4;

$color-icon-1: #757575;
$color-icon-2: #999999;
$color-icon-3: #c0c0c0;

$page-header-hgt: 50px;
