$color-main: #ff6881;
$color-green: #20c997;
$color-blue: #00a1d6;
$color-red: #ff6b6b;
$color-yellow: #fcc419;
$color-gray: #adb5bd;
$color-orange: #ff9427;

$color-text-light: #99a2aa;
$color-text-normal: #6d757a;
$color-text-deep: black;
$color-gray-light: #f6f9fa;
$color-gray-normal: #e5e9ef;
$color-gray-deep: #ccd0d7;
$color-dark-light: #b8c0cc;

$page-header-hgt: 50px;
